.SignUp-base {
  margin: 0 auto;
  max-width: 550px;
  padding-top: 50px;
}



.SignUp-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  box-shadow: 8px 9px 9px -9px rgba(0, 0, 0, 0.75);
  border: 3px solid #cdaf82;
}

.SignUp-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUp-form-inputs > input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

.SignUp-form-p {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.SignUp-form-google {
  text-align: center;
}

.SignUp-form-google > button {
  margin: 1.8rem auto 0;
  border: none;
  color: white;
  background-color: red;
  font-size: 1rem;
  padding: 0.7rem 3rem;
  text-align: center;
}

.SignUp-form-button {
  text-align: center;
}

.SignUp-form-button > input {
  margin: 1.8rem;
  border: 2px solid #cdaf82;
  background-color: white;
  font-size: 1rem;
  padding: 0.7rem 3rem;
}

.SignUp-back {
  font-size: 2rem;
  margin: 20px;
  color: #cdaf82;
}

.SignUp-form-owner {
  display: flex;
  margin-top: 20px;
}

.SignUp-error{
  text-align: center;
  font-size: 1rem;
  color: red;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.SignUp-footer{
  position: fixed;
  max-width: 550px;
  width: 100%;
  bottom: 0;
  background-color: #cdaf82;
}

.SignUp-footer>p{
  color: rgb(82, 82, 82);
  font-size: 0.7rem;
  margin: 0;
  padding: 10px;
  text-align: center;
  box-shadow: -1px -2px 10px -2px rgba(0,0,0,0.75);
}