* {
  box-sizing: border-box;
}

.SearchResults-list {
  margin-top: 77px;
}

.AdvancedSearch-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.76);
}

.AdvancedSearch-info p {
  color: #cdaf82;
  font-weight: bold;
}

.AdvancedSearch-info span {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(31, 192, 31);
}

.reset-button {
  width: 100px;
  padding: 2px;
  height: 30px;
  border: 2px solid rgba(248, 36, 36, 0.815);
  border-radius: 3px;
  color: rgba(219, 21, 21, 0.815);
  font-size: 15px;
  font-weight: bold;
}