 /* * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 } */

 .PubScreen-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 80px;
     background-color: rgba(0, 0, 0, 0.76);
 }

 .PubScreen-img-wrapper {
     width: 330px;
     height: 220px;
     border: 3px solid #cdaf82;
 }

 .PubScreen-pubName {
     margin: 15px 0 15px 0;
     font-size: 1.7em;
     color: #cdaf82;
 }

 .PubScreen-info-wrapper {
     width: 330px;
 }

 .PubScreen-info dt, .PubScreen-info dd {
     display: inline-block;
     margin: 0 5px 5px 0;
     font-weight: bold;
 }

 .PubScreen-info dt {
     font-size: 0.9em;
     color: #cdaf82;
 }

 .PubScreen-info dd {
     font-size: 1.1em;
     color: white;
 }

 .PubScreen-info-about {
     font-size: 1em;
     color: white;
 }

 .PubScreen-find {
     margin-top: 0;
     display: inline-block;
     color: #cdaf82;
     font-size: 1.2em;
     font-weight: bold;
 }