.Reservations {
    background: rgba(0, 0, 0, 0.76);
    border: 2px solid #cdaf82;
    color: rgb(224, 224, 224);
    border-top: 0px;
    padding: 7px;
    padding-bottom: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.Reservations li {
    padding-bottom: 7px;
}

.Reservations-reservation {
    background: rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #cdaf82;
    padding: 10px;
}

.Reservations-pubname {
    color: #cdaf82;
    grid-column: span 2;
    grid-row: 1;
    /* justify-self: center; */
}

.Reservations-state {
    justify-self: center;
    align-self: center;
    width: 100px;
    padding: 2px;
    text-align: center;
    border: 1px solid gray;
    background: lightgray;
    color: gray;
    grid-column: 3;
    grid-row: 1;
}

.Reservations-pending {
    background: #cdaf82;
    color: black;
}

.Reservations-accepted {
    background: rgb(0, 100, 0);
    color: rgb(224, 224, 224);
}

.Reservations-rejected {
    background: rgb(150, 0, 0);
    color: rgb(224, 224, 224);
}

.Reservations-date {
    padding: 3px;
    justify-self: center;
    grid-column: span 3;
    grid-row: 2;
}