.ProfileTabs {}

.ProfileTabs-tab {
    border: 2px solid #cdaf82;
    background: rgb(29, 29, 29);
    color: rgb(224, 224, 224);
    width: 50%;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.ProfileTabs-tabActive {
    background: rgba(0, 0, 0, 0.76);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.76); */
    border-bottom: 0px;
    height: 44px;
}

.ProfileTabs-tab:focus {
    outline: 0px;
}