.ProfileTabs {}

.ProfileTabs-tab {
    border: 2px solid black;
    background: rgb(160, 160, 160);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ProfileTabs-tabActive {
    border-bottom: 0px;
}