/* #cdaf82; */

/* rgba(0, 0, 0, 0.76); */

.PubRegistration-container {
    background-color: rgba(0, 0, 0, 0.76);
    min-height: 100vh;
    width: 100%;
}

.PubRegistration-container h3, h4 {
    margin: 0;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.PubRegistration-form label, p {
    color: white;
    font-size: 20px;
}