/* #cdaf82; */

/* rgba(0, 0, 0, 0.76); */

.PubRegistration-container {
    background-color: rgba(0, 0, 0, 0.76);
    /* background-color: yellowgreen; */
    box-sizing: border-box;
    padding-top: 60px;
}

.PubRegistration-container h3 {
    margin: 25px 0;
    font-size: 24px;
    text-align: center;
    color: #cdaf82;
}

.PubRegistration-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    border: 3px solid #cdaf82;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
}