/* #cdaf82; */

/* rgba(0, 0, 0, 0.76); */

.PubRegistration-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.76);
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 10px;
    max-width: 600px;
}

.PubRegistration-container h3 {
    margin: 25px 0;
    font-size: 24px;
    text-align: center;
    color: #cdaf82;
}

.PubRegistration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 5% 5%;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.76);
    color: gray;
    border: 3px solid #cdaf82;
    border-radius: 4px;
}

.PubRegistration-form .name, .city, .address, .email, .space, .phone {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 1rem;
}

.PubRegistration-form label {
    width: 30%;
    color: #f5f2ee;
    font-size: 14px;
}

.PubRegistration-form input {
    border: none;
    background-color: transparent;
    outline: 0;
    border-bottom: 1px solid #cdaf82;
    color: #cdaf82;
    font-weight: bold;
    text-align: center;
}

.PubRegistration-form .hours {
    margin-bottom: 1rem;
    text-align: center;
}

.PubRegistration-form .hours p {
    margin: 5px;
    color: #cdaf82;
}

.PubRegistration-form .hours input {
    margin: 10px;
    font-size: 17px;
}

.PubRegistration-form .space {
    display: block;
}

.PubRegistration-form .space label {
    width: 50%;
}

.PubRegistration-form .space input {
    text-align: center;
    margin-left: 15px;
    font-size: 16px;
}

.PubRegistration-form .phone {
    display: flex;
    justify-content: flex-start
}

.PubRegistration-form .phone label {
    width: 47%;
}

.PubRegistration-form .phone input {
    width: 53%;
    font-size: 17px;
    color: #cdaf82
}

.PubRegistration-form .phone span {
    font-size: 13px;
    margin-left: 135px;
}

.PubRegistration-form .img {
    text-align: center;
}

.PubRegistration-form .img input {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #cdaf82;
    font-weight: normal;
}

.PubRegistration-form .about {
    margin-top: 1rem;
    text-align: center;
}

.PubRegistration-form .about p {
    font-size: .9rem;
    margin-top: 5px;
    color: #f5f2ee;
}

.PubRegistration-form .about label {
    font-size: 1rem;
}

.PubRegistration-form .about textarea {
    border: 3px solid #cdaf82;
}

.PubRegistration-form .about textarea::placeholder {
    text-align: center;
    font-size: .8rem;
}

.PubRegistration-form .img_wrapper {
    width: 292px;
    height: 200px;
    margin-top: 22px;
    border: 2px solid #cdaf82;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 0.76)
}

.PubRegistration-form .pub_img {
    width: 100%;
    height: 100%;
}

.loc-info {
    text-align: center;
    color: #f5f2ee;
    margin: 10px 50px;
}

.PubRegistration-form .submit {
    margin-top: 20px;
    width: 60%;
    font-weight: bold;
    color: #cdaf82;
    /* color: white; */
    border: 2px solid #cdaf82;
    border-radius: 4px;
    padding: 10px 20px;
}

.required-info {
    font-weight: bold;
    color: #cdaf82;
}

.required-info span {
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.76);
}