.SearchBar {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 10px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.SearchBar-wrapper {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0px;
  align-items: center;
  position: fixed;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.SearchBar-icon {
  position: absolute;
  bottom: 21px;
  right: 63px;
  font-size: 1.2rem;
}

.SearchBar-advanced-search-icon {
  width: 50px;
  font-size: 1.3rem;
  margin-top: 10px;
}

.SearchBar-advanced-search-container {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
}