/* #cdaf82
rgba(0, 0, 0, 0.76)
rgb(224, 224, 224) */

.AdvancedSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 359px;
    margin-left: 8px;
    color: rgb(224, 224, 224);
    border: 3px solid #cdaf82;
    border-radius: 2px;
    /* background-color: #cdaf82; */
    background-color: white;
}

.AdvancedSearch h3 {
    color: #cdaf82;
}

.AdvancedSearch-form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 300px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.76);
    /* border: 1px solid black; */
}

/* .AdvancedSearch-form div {
    margin-top: 10px;
} */

.AdvancedSearch-form input, select {
    float: right;
    margin-right: 20px;
    width: 100px;
    text-align: center;
    font-size: 1em;
    /* background-color: green; */
    border: 2px solid #cdaf82;
}

.AdvancedSearch label {
    font-size: 1.3em;
}

.AdvancedSearch-form-buttons-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.AdvancedSearch-form-buttons-wrap button {
    width: 40%;
    height: 30px;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}