.AdvancedSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 4px;
}

.AdvancedSearch h3 {
    margin: .4em;
    font-size: 1em;
    color: #cdaf82;
}

.AdvancedSearch-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    height: 280px;
    width: 90%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.76);
    border: 1px solid #cdaf82;
}

.AdvancedSearch-option select {
    border-radius: 15px;
    outline: none;
    border-color: none;
    border: 0;
    padding: 2px;
}

.AdvancedSearch-option {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.AdvancedSearch input, select {
    display: inline-block;
    width: 90px;
    text-align: center;
    background-color: #fff;
}

.AdvancedSearch-input {
    border-radius: 25px;
    border: 0;
    padding: 2px;
}

.AdvancedSearch label {
    font-size: 15px;
    color: #cdaf82;
    font-weight: bold;
}

.AdvancedSearch-form-buttons-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.AdvancedSearch-form button {
    width: 35%;
    height: 30px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #cdaf82;
    border: 2px solid white;
}