* {
    margin: 0px;
}

body {}

.Publist {
    box-sizing: border-box;
}

.Publist-ul {
    padding: 0px;
}

.Publist-li {
    border: 1px solid black;
    margin: 8px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2.5rem;
}

.Publist-h2 {
    padding: 0.5rem;
}

.Publist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.Publist-imgcontainer {
    grid-row: 1/3;
    grid-column: 1;
    padding: 5px;
}

.Publist-info {
    align-self: center;
}

.Publist p {
    padding: 0.3rem;
}